@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-4">
        <a href="#">
            <img alt="" src="Content/img/Bez-nazwy-1.png" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="#">
            <img alt="" src="Content/img/Obrazek.jpg" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="#">
            <img alt="" src="Content/img/Obrazek2.jpg" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="#">
            <img alt="" src="Content/img/Obrazek3.JPG" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="#">
            <img alt="" src="Content/img/Obrazek4.jpg" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="#">
            <img alt="" src="Content/img/Obrazek5.jpg" />
        </a>
    </div>
</div>

<script type="text/javascript">
    var image = '';

    $(document).ready(function () {
        $('.row a').click(function () {
            image = $('img', $(this)).attr('src');
            SendImage();
            return false;
        });
    });
    function SendImage() {

        var data = '{"imagepath": "' + image + '"}';

        $.ajax
            (
                {
                    method: "POST",
                    url: '/home/sendimage',
                    secureuri: false,
                    data: jQuery.parseJSON(data),
                    success: function (data, status) {
                        $(".row").append('<div class="col-md-4"><a href="#"><img alt="" src="' + data + '" /></a></div>')
                    },
                    error: function (data, status, e) {
                        alert("error");
                    }
                }
            );
    }
</script>
